<!-- 
<div class="container">
    <h1>Books</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/aa.jpg">
            <span class="card-title"><b>Treecatchers</b></span>
          </div>
  
          <div class="card-content">
           
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Code 1</li>
            <li class="list-group-item"> Price: 	₹ 499.00 </li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            &nbsp;&nbsp;<a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
  
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/bb.jpg">
            <span class="card-title"><b>Asian Hobby</b></span>
          </div>
  
          <div class="card-content">
           
          </div>
          <ul class="list-group list-group-flush">
           
            <li class="list-group-item">code 2 </li>
            <li class="list-group-item">Price: 	₹ 350</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/dd.jpg">
            <span class="card-title"><b>Fringe</b></span>
          </div>
  
          <div class="card-content">
           
          </div>
          <ul class="list-group list-group-flush">
          
            <li class="list-group-item">code 3</li>
            <li class="list-group-item">Price: 	₹ 400</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/ee.jpg">
            <span class="card-title"><b>Vector-tradition</b></span>
          </div>
  
          <div class="card-content">
            
          </div>
          <ul class="list-group list-group-flush">
           
            <li class="list-group-item">code 4</li>
            <li class="list-group-item">Price: 	₹ 300</li>
            <li class="list-group-item">Delivered in 7 days
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  <br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container">
    <h1>Feathers</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/12.jfif">
            <span class="card-title"><b>Tip Top</b></span>
          </div>
  
          <div class="card-content">
         
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 49.00</li>
            <li class="list-group-item">code 5</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            &nbsp;&nbsp;<a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
  
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/8.jfif">
            <span class="card-title"><b>Pastel Feathers</b></span>
          </div>
  
          <div class="card-content">
          
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 30.00</li>
            <li class="list-group-item">code 6</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/f8.jfif">
            <span class="card-title"><b>Ostrich</b></span>
          </div>
  
          <div class="card-content">
         
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 99.00</li>
            <li class="list-group-item">Code 7</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/6.jpg">
            <span class="card-title"><b>Hetkrishi</b></span>
          </div>
  
          <div class="card-content">
          
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 100.00</li>
            <li class="list-group-item">Code 8</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  <br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container">
    <h1>Beads</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/aaa.jpg">
            <span class="card-title"><b>Crystal</b></span>
          </div>
  
          <div class="card-content">
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 20.00</li>
            <li class="list-group-item">Code 9</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            &nbsp;&nbsp;<a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
  
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/bbb.jpg">
            <span class="card-title"><b>Pony beads</b></span>
          </div>
  
          <div class="card-content">
         
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 30.00</li>
            <li class="list-group-item">code 10</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/ccc.jpg">
            <span class="card-title"><b>Hama</b></span>
          </div>
  
          <div class="card-content">
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 35.00</li>
            <li class="list-group-item">code 11</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/ddd.jpg">
            <span class="card-title"><b>Drop bead</b></span>
          </div>
  
          <div class="card-content">
          
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: ₹ 10.00</li>
            <li class="list-group-item">Code 12</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  
  
  
  
  <br><br>
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container">
    <h1>Thread</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/w1.jfif">
            <span class="card-title"><b>Oswal</b></span>
          </div>
  
          <div class="card-content">
          
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 10.00</li>
            <li class="list-group-item">Code 13</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            &nbsp;&nbsp;<a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
  
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/w6.jfif">
            <span class="card-title"><b>Metallic hand embroidary</b></span>
          </div>
  
          <div class="card-content">
     
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 20.00</li>
            <li class="list-group-item">Code 14</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/w7.jfif">
            <span class="card-title"><b>Multi-color</b></span>
          </div>
  
          <div class="card-content">
            
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 29.00</li>
            <li class="list-group-item">Code 15</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="assets/image/w2.jfif">
            <span class="card-title"><b>Anchor</b></span>
          </div>
  
          <div class="card-content">
    
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: 	₹ 32.00</li>
            <li class="list-group-item">code 16</li>
            <li class="list-group-item">Delivered in 7 days</li>
          </ul>
  
          <div class="card-action">
            <a href="/book" target="new_blank">Buy</a>&nbsp;&nbsp;
            <a href="/book" target="new_blank">customise</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  
  
  
  
  <br><br>
  
  
  
  
  
  
  
  
  
  
  
  
   -->