.container {
	text-align: center;
	font-family: cursive;
	/* font-style: italic; */
}

.underline {
	text-decoration: underline;
}

footer {
	margin-top: 50px;
}

.contact-details {
  margin-top: 30px;
}

.well {
  background-color: lightgrey;
}
