
    <!-- Page Content -->
    <body>
        <div class="container">
            <div class="contact-details">
              <h2><u>Contact Details</u></h2>
              <br />
              <h4>Website related issues / enquiries</h4> <br />
              
              <p class="bold"><b>Site Administrator:</b>RAJANI M R</p>
              <p class="bold"><b>Email: </b><a href="gmail.com">bookstore.com</a></p>
              <p class="bold"><b>Telephone: </b><span></span><a href="tel:04712404813">91 7356670922</a> <br/>
    
              <br />
    
              <h4>Company Address</h4>
              <br />
    
              <p class="bold"><b> Address: </b>123 Street</p>
              <p class="bold"><b>City: </b> TVM</p>
              <p class="bold"><b>Postcode: </b>695501</p>
            </div>
        </div>
    
     
        </body>
        